doctype
html(lang="ru")
	include ../blocks/head/head.pug
	+head('Главная')

	body
		include ../blocks/_mixins/_svgElement.pug

		.sprite
			include ../../public/images/sprite.svg

		main.promo
			article.container
				include ../blocks/heading/heading.pug
				+heading("Стоимость обучения")
				.card
					include ../blocks/info/info.pug
					include ../blocks/form/form.pug


