.heading-1
	margin 0 0 28px
	font-size 38px
	line-height 44px
	text-align center

@media (min-width: 768px)
	.heading-1
		font-size 45px
		line-height 53px

@media (min-width: 1170px)
	.heading-1
		font-size 55px
		line-height 32px
		letter-spacing -0.5px
