.sale
	padding 24px 17px 15px
	position absolute
	left 50%
	top 0
	transform translate(-50%, -50%)
	background #000
	color #fff
	text-align center

	&::after
		content ''
		position absolute
		left 0
		top 100%
		border 55px solid transparent
		border-top 12px solid #000

.sale__text
	font-weight bold
	font-size 14px
	line-height 16px
	letter-spacing 1px
	text-transform uppercase

.sale__percent
	margin 7px 0 3px
	font-weight bold
	font-size 30px
	line-height 28px

.sale__count
	opacity .7
	font-size 15px
	line-height 15px
	letter-spacing -0.5px
