@import 'helpers/mixins'
@import 'helpers/variables'

webfont("Roboto", "RobotoLight", 300)
webfont("Roboto", "RobotoRegular", 400)
webfont("Roboto", "RobotoBold", 700)

html
	height 100%
	box-sizing border-box

body
	min-height 100%
	min-width 320px
	margin 0
	font-family 'Roboto', Arial, sans-serif

input, textarea, button
	font-family 'Roboto', Arial, sans-serif

*, *::before, *::after
	box-sizing inherit

img
	max-width 100%
	height auto

.sprite
	display none

.visually-hidden
	position absolute
	width 1px
	height 1px
	margin -1px
	padding 0
	border none
	overflow hidden
	white-space nowrap
	clip rect(0,0,0,0)
	clip-path inset(100%)

.container
	max-width 1200px
	margin 0 auto

@media (min-width: 768px)
	.container
		padding 0 30px

.promo
	padding 55px 0

// @import '../blocks/_mixins/**/*.styl'
@import '../blocks/*/*.styl'
